* {
    /*RESET CSS. A page zera todas os espaços vazio(definir 1ª)*/
    margin: 0;
    padding: 0;
    /*define que todos elementos dentro da caixa respeitem o tamanho da caixa*/
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
}